{% extends "base.html" %}
<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">

{% block content_header %}
  <h1>集群监控</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">监控</a></li>
      <li class="active">集群监控</li>
  </ol>
{% end block %}

{% block content_body %}

<!-- Main content -->
<section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
              <div class="box-header">
              <h3 class="box-title"></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                </div>
            </div>
              <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>server</th>
                  <th>ip</th>
                  <th>cpu avg</th>
                  <th>mem avg</th>
                  <th>spider num</th>
                  <th>stats</th>
                </tr>
                </thead>
                <tbody>

                {% for machine in machines %}
                  <tr>
                      <td>{{ machine["name"] }}</td>
                      <td>{{ machine["ip"] }}</td>
                      <td>
                          <div class="progress progress-striped active">
                          {% if machine['cpu_avg']>=20 & machine['cpu_avg']<=25 %}
                              <input type="hidden" value="222" onload="increment({{ machine['cpu_avg'] }},{{ machine['ip'] }})";/>

                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-info" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>

                          {% elif machine['cpu_avg']>=25 & machine['cpu_avg']<=50 %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-success" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>
                              <!--</div>-->
                          {% elif machine['cpu_avg']>=50 &  machine['cpu_avg']<=75 %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-warning" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>
                              <!--</div>-->
                          {% else %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-danger" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>

                              <!--</div>-->
                          {% end %}
                          </div>
                      </td>
                      <td>{{ machine["cpu_avg"] }}</td>
                      <td>{{ machine["mem_avg"] }}</td>
                      <td>{{ machine["spider_num"] }}</td>
                      <td>{{ machine["status"] }}</td>
                  </tr>
                {% end for %}
                </tbody>
              </table>
            </div>
              <div class="box-footer">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
</section>



<script src="{{ static_url('scripts/jquery.min.js') }}"></script>
<script src="{{ static_url('scripts/bootstrap.min.js') }}"></script>

<script type="text/javascript">
$(document).ready(function(){
              var time = 50;
              //百分数增加，0-30时为红色，30-60为黄色，60-90为蓝色，>90为绿色


              function increment(value,value2) {

              alert(2222);
                  $("#"+value2).css("width",value + "%").text(value + "%");
                  if (value>=0 && value<=30) {
                      $("#"+value2).addClass("progress-bar-danger");
                  }
                  else if (value>=30 && value <=60) {
                      $("#"+value2).removeClass("progress-bar-danger");
                      $("#"+value2).addClass("progress-bar-warning");
                  }
                  else if (value>=60 && value <=90) {
                      $("#"+value2).removeClass("progress-bar-warning");
                      $("#"+value2+"").addClass("progress-bar-info");
                  }
                  else if(value >= 90 && value<100) {
                      $("#"+value2).removeClass("progress-bar-info");
                      $("#"+value2).addClass("progress-bar-success");
                  }
                  else{
                      <!--setTimeout(reset,3000);-->
                      <!--return;-->
                  }
              };

              increment( {{ machine['cpu_avg'] }}, {{ machine['mem_avg'] }} );
              });
      </script>

{% end block %}


