{% extends "base.html" %}
<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">

{% block content_header %}
  <h1>集群监控</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">监控</a></li>
      <li class="active">集群监控</li>
  </ol>
{% end block %}

{% block content_body %}

<!-- Main content -->
<section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
              <div class="box-header">
              <h3 class="box-title"></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                </div>
            </div>
              <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>server</th>
                  <th>ip</th>
                  <th>cpu avg</th>
                  <th>mem avg</th>
                  <th>spider num</th>
                  <th>stats</th>
                </tr>
                </thead>
                <tbody>

                {% for machine in machines %}
                  <tr>
                      <td>{{ machine["name"] }}</td>
                      <td>{{ machine["ip"] }}</td>
                      <td style="width: 20%;">
                          <div class="progress progress-striped active">
                          {% if machine['cpu_avg']<=25 %}
                              <input type="hidden" value="222" onload="increment({{ machine['cpu_avg'] }},{{ machine['ip'] }})";/>

                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-info" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>

                          {% elif machine['cpu_avg']>=25 and machine['cpu_avg']<=50 %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-success" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>
                              <!--</div>-->
                          {% elif machine['cpu_avg']>=50 and machine['cpu_avg']<=75 %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-warning" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>
                              <!--</div>-->
                          {% else %}
                              <!--<div class="progress progress-striped active">-->
                                  <div id="{{ machine['mem_avg'] }}" class="progress-bar progress-bar-danger" role="progressbar"
                                       aria-valuenow="{{ machine['cpu_avg'] }}" aria-valuemin="0"
                                       aria-valuemax="100" style="width:{{ machine['cpu_avg'] }}%;">
                                      {{ machine['cpu_avg'] }}%
                                  </div>

                              <!--</div>-->
                          {% end %}
                          </div>
                      </td>
                      <td style="width:16%;">
                          <span class="linecustom">10,8,9,3,5,8,5,7,10,8,9,3,5,8,5,7,10,8,9,3,5,8,5,7,10,8,9,3,5,8</span>
                      </td>
                      <td>{{ machine["spider_num"] }}</td>
                      {% if machine['status'] %}
                          <td><span class="label label-success">Running</span></td>
                      {% else %}
                          <td><span class="label label-danger">Stop</span></td>
                      {% end %}
                  </tr>
                {% end for %}
                </tbody>
              </table>
            </div>
              <div class="box-footer">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
</section>



<script src="{{ static_url('scripts/jquery.min.js') }}"></script>
<script src="{{ static_url('scripts/bootstrap.min.js') }}"></script>
<script src="{{ static_url('scripts/jquery.knob.js')}}"></script>
<script src="{{ static_url('scripts/jquery.sparkline.min.js')}}"></script>
<script>

    $(".linecustom").each(function () {
      var $this = $(this);
      $this.sparkline('html',
        {
          height: '1.8em', width: '16em', lineColor: '#f00', fillColor: '#ffa',
          minSpotColor: false, maxSpotColor: false, spotColor: '#77f', spotRadius: 3
        });
    });
</script>
{% end block %}


