{% extends "base.html" %}

{% block content_header %}
  <h1>项目管理</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">Project</a></li>
      <li class="active">项目管理</li>
  </ol>
{% end block %}

{% block content_body %}

<!-- Main content -->
<section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
              <div class="box-header">
              <h3 class="box-title"></h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                </div>
            </div>
              <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th hidden>projectId</th>
                  <th>project</th>
                  <th>group</th>
                  <th>user</th>
                  <th>creator</th>
                  <th>create time</th>
                  <th>action</th>
                </tr>
                </thead>
                <tbody>

                {% for machine in projects %}
                  <tr>
                      <td hidden>{{ machine[1]["_id"] }}</td>
                      <td>{{ machine[1]["pack_name"] }}</td>
                      <td>{{ machine[1]["group"] }}</td>
                      <td>{{ machine[1]["username"] }}</td>
                      <td>{{ machine[1]["creator"] }}</td>
                      <td>{{ machine[1]["create_time"] }}</td>
                      {% if machine[0] %}
                          <div class="btn-group">
                              <td>
                                  <div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;padding-right:3px;">
                                      <button type="button" class="btn btn-block btn-success btn-sm" id="pro_edit_user" data-toggle="modal" data-target="#pro_edit">编辑</button>
                                    </div>
                                  <div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;">
                                      <button type="button" class="btn btn-block btn-danger btn-sm" id="pro_del_user">删除</button>
                                    </div>
                              </td>
                        </div>
                      {% else %}
                          <!--<td>No</td>-->
                          <td>
                              <div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;padding-right:3px;">
                                <button type="button" class="btn btn-block btn-success disabled">编辑</button>
                              </div>
                              <div style="width:50%;padding:0;margin:0;float:left;box-sizing:border-box;padding-right:3px;">
                                <button type="button" class="btn btn-block btn-danger disabled">删除</button>
                              </div>
                            </td>
                      {% end %}
                  </tr>
                {% end for %}
                </tbody>
              </table>
            </div>
              <div class="box-footer">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
</section>


<!-- 修改项目成员－－触发事件：job-run-modal-member -->
<div class="modal fade" id="pro_edit" tabindex="-1" role="dialog" style="border-radius:0.4375rem;" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="post" role="form" id="editProUserForm" width="480" height="450">
                    <!-- select -->
                    <div class="form-group">
                        <label>用户组</label>
                        <select class="form-control">
                            <option>admin</option>
                            <option>大浪1</option>
                            <option>大浪2</option>
                            <option>大浪3</option>
                        </select>
                    </div>
                    <!-- select -->
                    <div class="form-group">
                        <label>用户</label>
                        <select class="form-control">
                            <option>admin</option>
                            <option>大浪花</option>
                            <option>大浪浪</option>
                            <option>大可爱</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="edit_pro_user">提交</button>
            </div>
        </div>
    </div>
</div>



<script src="{{ static_url('scripts/jquery.min.js') }}"></script>
<script src="{{ static_url('scripts/pro_manage.js') }}"></script>

{% end block %}


