{% extends "base.html" %}

{% block content_header %}
  <h1>Spider Dashboard</h1>
{% end block %}

{% block content_body %}

<!-- Main content -->
<section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
                <div class="box-header">
                    <h3 class="box-title">pending Jobs</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Job id</th>
                            <th>Spider Name</th>
                            <th>Group</th>
                            <th>User</th>
                            <th>Start time</th>
                            <th>Runtime</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for cjob in completed_jobs %}
                        <tr>
                            <!--<td><input type="checkbox" class="flat-red" checked></td>-->
                            <td>{{ cjob["_id"] }}</td>
                            <td>{{ cjob["spider_name"] }}</td>
                            <td>{{ cjob["group"] }}</td>
                            <td>{{ cjob["user_name"] }}</td>
                            <td>{{ cjob["start_time"] }}</td>
                            <td>{{ cjob["runtime"] }}</td>
                            <td>{{ cjob["status"] }}</td>
                            <td>
                                <span class="label label-success">FINISHED</span>
                                <span class="label label-danger">CANCELED</span>
                            </td>

                        </tr>
                        {% end for %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Running Jobs</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
              </div>
              </div>
              <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Job id</th>
                  <th>Spider Name</th>
                  <th>Group</th>
                  <th>User</th>
                  <th>Start time</th>
                  <th>Runtime</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for rjob in running_jobs %}
                  <tr>
                      <td>{{ rjob["_id"] }}</td>
                      <td>{{ rjob["spider_name"] }}</td>
                      <td>{{ rjob["group"] }}</td>
                      <td>{{ rjob["user_name"] }}</td>
                      <td>{{ rjob["start_time"] }}</td>
                      <td>{{ rjob["runtime"] }}</td>
                      <td>{{ rjob["status"] }}</td>
                      <td>
                          <a class="btn btn-info btn-xs">MORE</a>
                          <a class="btn btn-warning btn-xs">CANCLE</a>
                      </td>
                  </tr>
                {% end for %}
                </tbody>
              </table>
            </div>
              <div class="box-footer">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
          </div>
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Completed Jobs</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
              </div>
              </div>
              <div class="box-body">
              <table id="example3" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Job id</th>
                  <th>Spider Name</th>
                  <th>Group</th>
                  <th>User</th>
                  <th>Start time</th>
                  <th>Runtime</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>

                {% for cjob in completed_jobs %}
                  <tr>
                      <!--<td><input type="checkbox" class="flat-red" checked></td>-->
                      <td>{{ cjob["_id"] }}</td>
                      <td>{{ cjob["spider_name"] }}</td>
                      <td>{{ cjob["group"] }}</td>
                      <td>{{ cjob["user_name"] }}</td>
                      <td>{{ cjob["start_time"] }}</td>
                      <td>{{ cjob["runtime"] }}</td>
                      <td>{{ cjob["status"] }}</td>
                      <td>
                          <span class="label label-success">FINISHED</span>
                          <span class="label label-danger">CANCELED</span>
                      </td>

                  </tr>
                {% end for %}
                </tbody>
              </table>
            </div>
              <div class="box-footer">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
</section>

{% end block %}


