{% extends "base.html" %}

{% block content_header %}
  <link rel="stylesheet" href="{{ static_url('css/iCheck/all.css')}}">
  <link rel="stylesheet" href="{{ static_url('css/select2.min.css')}}">
  <h1>Deploy Dashboard</h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li><a href="#">部署</a></li>
      <li class="active">部署服务</li>
  </ol>
{% end block %}
{% block content_body %}
<div class="box box-warning">
    <div class="box-body">

        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Project</label>
                <select id="projectValue" class="form-control select2 select2-hidden-accessible pro_select"
                        style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Spider</label>
                <select id="spiderValue" class="form-control select2 select2-hidden-accessible spider_select"
                        style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
            </div>

            <div class="col-md-12">
            <label>Project Info</label>
            <input type="text" id="pro_info" class="form-control" placeholder="Enter ..." disabled="">
            </div>

            <div class="col-md-12">
              <div class="radio">
                <label id="label1">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                  Period
                </label>
              </div>
              <div class="radio">
                <label id="label2">
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  normal
                </label>
              </div>
                <div id="dingshi" class="form-group">
                    <label>定时任务(必填)</label>
                    <input type="text" id="dingValue" class="form-control" placeholder="Enter ..." value="">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Select Multiple(可多选)</label>
                    <select multiple="" id="serversValue" class="form-control" style="height: 190px;">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                    <!--<span id="helpblock" class="help-block" hidden>Help block with error</span>-->
                </div>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-info">DEPLOY</button>
            </div>

            <div class="col-md-12 deploy_progress" hidden>
                <div class="box-header">
                    <h3 class="box-title">项目部署服务器进度</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th style="width: 130px;">服务器地址</th>
                            <th style="width: 250px;">部署进度</th>
                            <th style="width: 120px">部署结果</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Update software</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 55%;background-color: #00c0ef;">80%</div>
                                </div>
                            </td>
                            <td><span class="label label-success">Approved</span></td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
</div>

<!-- jQuery 3 -->
<script src="{{ static_url('scripts/jquery.min.js')}}"></script>
<script src="{{ static_url('scripts/bootstrap.min.js')}}"></script>
<script src="{{ static_url('scripts/select2.full.min.js')}}"></script>
<script src="{{ static_url('scripts/icheck.min.js')}}"></script>
<script src="{{ static_url('scripts/spider_deploy.js')}}"></script>
<script>
    //Initialize Select2 Elements
    $('.select2').select2()

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })

    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })

    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })
</script>
{% end block %}

